@model Department_FunctionViewModel

<div class="row">
    <div class="container col-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>名稱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model.DepartmentList.Where(u => u.DepartmentId != 1))
                {
                    <tr>
                        <td>@department.ShortName</td>
                        <td>@department.Name</td>
                        <td>
                            <a asp-route-id="@department.DepartmentId">選擇</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container col-9">
        <div class="d-flex flex-wrap mb-3">
            <button class="btn btn-secondary border m-1 flex-grow-1" onclick="selectTable('front')">前台</button>
            <button class="btn btn-secondary border m-1 flex-grow-1" onclick="selectTable('back')">後台</button>
            <button class="btn btn-secondary border m-1 flex-grow-1" onclick="selectTable('analyze')">分析</button>
            <button class="btn btn-secondary border m-1 flex-grow-1" onclick="selectTable('fix')">維修</button>
        </div>
        <form asp-action="Permission">
            <button class="btn btn-primary border m-1 mb-3" type="submit">存檔</button>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>功能</th>
                        <th>啟動</th>
                    </tr>
                </thead>
                <tbody id="front">
                    @for (int i = 0; i < Model.Department_FunctionList.Count; i++)
                    {
                        var item = Model.Department_FunctionList[i];

                        if (item.Function.Group == POS.Utility.Enum.FunctionGroup.前台)
                        {
                            <tr>
                                <td>
                                    @item.Function.FunctionChineseName
                                    <input asp-for="@Model.Department_FunctionList[i].DepartmentId" value="@item.DepartmentId" type="hidden" />
                                    <input asp-for="@Model.Department_FunctionList[i].FunctionId" value="@item.FunctionId" type="hidden" />
                                </td>
                                <td>
                                    @Html.CheckBoxFor(u => u.Department_FunctionList[i].IsEnable)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tbody id="back">
                    @for (int i = 0; i < Model.Department_FunctionList.Count; i++)
                    {
                        var item = Model.Department_FunctionList[i];

                        if (item.Function.Group == POS.Utility.Enum.FunctionGroup.後台)
                        {
                            <tr>
                                <td>
                                    @item.Function.FunctionChineseName
                                    <input asp-for="@Model.Department_FunctionList[i].DepartmentId" value="@item.DepartmentId" type="hidden" />
                                    <input asp-for="@Model.Department_FunctionList[i].FunctionId" value="@item.FunctionId" type="hidden" />
                                </td>
                                <td>
                                    @Html.CheckBoxFor(u => u.Department_FunctionList[i].IsEnable)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tbody id="analyze">
                    @for (int i = 0; i < Model.Department_FunctionList.Count; i++)
                    {
                        var item = Model.Department_FunctionList[i];

                        if (item.Function.Group == POS.Utility.Enum.FunctionGroup.分析)
                        {
                            <tr>
                                <td>
                                    @item.Function.FunctionChineseName
                                    <input asp-for="@Model.Department_FunctionList[i].DepartmentId" value="@item.DepartmentId" type="hidden" />
                                    <input asp-for="@Model.Department_FunctionList[i].FunctionId" value="@item.FunctionId" type="hidden" />
                                </td>
                                <td>
                                    @Html.CheckBoxFor(u => u.Department_FunctionList[i].IsEnable)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tbody id="fix">
                    @for (int i = 0; i < Model.Department_FunctionList.Count; i++)
                    {
                        var item = Model.Department_FunctionList[i];

                        if (item.Function.Group == POS.Utility.Enum.FunctionGroup.維修)
                        {
                            <tr>
                                <td>
                                    @item.Function.FunctionChineseName
                                    <input asp-for="@Model.Department_FunctionList[i].DepartmentId" value="@item.DepartmentId" type="hidden" />
                                    <input asp-for="@Model.Department_FunctionList[i].FunctionId" value="@item.FunctionId" type="hidden" />
                                </td>
                                <td>
                                    @Html.CheckBoxFor(u => u.Department_FunctionList[i].IsEnable)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tbody id="admin">
                    @for (int i = 0; i < Model.Department_FunctionList.Count; i++)
                    {
                        var item = Model.Department_FunctionList[i];

                        if (item.Function.Group == POS.Utility.Enum.FunctionGroup.Admin)
                        {
                            <input asp-for="@Model.Department_FunctionList[i].DepartmentId" value="@item.DepartmentId" type="hidden" />
                            <input asp-for="@Model.Department_FunctionList[i].FunctionId" value="@item.FunctionId" type="hidden" />
                            @Html.HiddenFor(u => u.Department_FunctionList[i].IsEnable)
                        }
                    }
                </tbody>
            </table>

        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/Setting/department_function.js"></script>
}