@model Department_FunctionViewModel

<div class="row">
    <div class="container col-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>名稱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model.DepartmentList.Where(u => u.DepartmentId != 1))
                {
                    <tr>
                        <td>@department.ShortName</td>
                        <td>@department.Name</td>
                        <td>
                            <a href="javascript:void(0)" onclick="getDepartmentId(@department.DepartmentId)">選擇</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container col-9">
        <div class="d-flex flex-wrap mb-3">
            <button class="btn btn-secondary border m-1 flex-grow-1 selectFunction" onclick="selectTable('front')" disabled>前台</button>
            <button class="btn btn-secondary border m-1 flex-grow-1 selectFunction" onclick="selectTable('back')" disabled>後台</button>
            <button class="btn btn-secondary border m-1 flex-grow-1 selectFunction" onclick="selectTable('analyze')" disabled>分析</button>
            <button class="btn btn-secondary border m-1 flex-grow-1 selectFunction" onclick="selectTable('fix')" disabled>維修</button>
        </div>
        <form method="post" asp-action="AddPermission">
            <button class="btn btn-primary border m-1 flex-grow-1" type="submit">存檔</button>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>功能名稱</th>
                        <th>啟動</th>
                    </tr>
                </thead>
                <!--前台-->
                <tbody class="hidden-table" id="front-table" style="">
                    @for (int i = 0; i < Model.Department_FunctionList.Count; i++)
                    {
                        var item = Model.Department_FunctionList[i];
                        if (item.Function.Group != POS.Utility.Enum.FunctionGroup.Admin && item.Department.DepartmentId != 1)
                        {
                            <tr>
                                <td>
                                    @item.Function.FunctionChineseName
                                </td>
                                <td>
                                    @Html.CheckBoxFor(u => u.Department_FunctionList[i].IsEnable)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/Setting/department_function.js"></script>
}